@import url('https://fonts.googleapis.com/css2?family=Nata+Sans:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: rgb(238, 238, 238); 
} 

header{
  /* background-color: #000; */
  /* color: #fff;
  padding: 10px 20px; */
  height: 5rem;
}

.title-bar {
  display: flex;
  align-items: center;
  height: 50%;
  gap: 0.50rem;
}

.icon {
  /* width: 24px;
  height: 24px;
  margin-right: 10px; */
  height: 60%;
  margin-left: 1rem;
}

.title-text {
  font-size: 1.5rem;
}

.menu-bar {
  display: flex;
  
  height: 50%;
  gap: 1rem;
  margin-left: 1rem;
  position: relative;
}

.menu {
  padding: 5px 10px;
  cursor: pointer;
}

#videoInput {
  display: none;
}

.submenu {
  display: none;
  position: absolute;
  top: 20px;
  background-color: rgb(238, 238, 238); 
  padding: 5px 0;
  border-radius: 2px;
  z-index: 1;
}
 

.menu:hover .submenu {
  display: block;
}

.menu:hover {
   background-color: lightskyblue;
}

.main-content{
  height: calc(100vh - 8rem);
  background-color: #060606;
}

.footer{
  height: 3rem;
  background-color:grey;
}

